

@defer {
  <div  class="container" [ngClass]="{ bgLigth: change === true, bgDark: change === false }">
    <div class="bg"></div>
  
    <div class="row content">
      <div class="col-sm-12 col-md-10">
        <p class="texts">
          Astróloga-Tarotista con más de 30 años de experiencia en consultas,
          talleres, cursos, seminarios, programas de radio y televisión.
          Investigadora y estudiosa de temas filosóficos, holiísticos y
          espirituales
        </p>
        <p class="texts">
          Procuro estar en constante aprendizaje para brindarles
          contenido e información de calidad a través de nuestro sitio web, así como
          también asesoría personalizada a través de la Astrología y el Tarot con la
          mayor empatía y apoyo espiritual.
        </p>
        <div class="row redes">
          <div class="col-sm-12">
            <a href="https://www.youtube.com/@revelacionesdecaro" target="_blank">Youtube</a>
            <a href="https://www.facebook.com/groups/717152485846700" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/revelacionesdecaro/" target="_blank">Instagram</a>
           
          </div>
          <div class="col-sm-12">
            <a href="https://twitter.com/carorevela/" target="_blank">X/Twitter</a>
            <a href="https://www.tiktok.com/@revelacionesdecaro?_t=8hxlOKxZgJh&_r=1&fbclid=IwAR3e4EUYxdtr4LhZsBS-cSt8YqSQRFpLCVti8HxtZsnQJc3svrv8MbjpwMM"
              target="_blank">
              Tik-tok
            </a>
            <a href="https://www.threads.net/@revelacionesdecaro?fbclid=IwAR0yYmIEYEDLo-GmoiS-ha4Gd_VVGCkzAvY4tBWjN5vwiZnNtBqGOzFIIs8"
              target="_blank">
              Threads
            </a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-12 col-md-2 div-img">
        <img src="../../../assets/img/perfil.jpg" alt="perfil" loading="lazy" />
      </div>
    </div>
  </div>
} @placeholder (minimum 3000ms) {
  <app-spinner></app-spinner>

}

