<div class="container">
    <form action="" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="row m-5">
        <div
          class="col-sm-12 col-xl-6 "
        >
          <label
            for="customFile"
            class="btn"
            [ngClass]="{ btnLigth: change === true, btnDark: change === false }"
          >
            Seleccionar archivo
          </label>
  
          <input
            type="file"
            class="form-control-file"
            id="customFile"
            style="display: none"
            (change)="cargarIMG($event)"
          />
  
          <div class="mt-3">
  
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              [formControl]="urlImg"
              [(ngModel)]="article.urlImg"
            />
            <div id="emailHelp" class="form-text">
              Puende ingresar la Url de una imagen (opcional)
            </div>
          </div>
  
  
        </div>
        <div class="col-sm-12 col-xl-6" class="div-img">
          <div class="row">
            <div class="col-6">
              <img
              *ngIf="!article.img && !article.urlImg"
              src="https://images.unsplash.com/photo-1512503573379-7b7ad8819f8d?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              class="image-cargada-img"
            />
            <img
              *ngIf="article.img"
              [src]="article.img"
              alt="article.titulo"
              class="image-cargada-img"
            />
            <img
              *ngIf="article.urlImg"
              [src]="article.urlImg"
              alt="article.titulo"
              class="image-cargada-img"
            />
            </div>
            <div class="col-6">
              <div class="" *ngIf="imagenCargada">
                <img [src]="imagenCargada" alt="" class="image-cargada-img" />
                <p>Nueva Imagen cargada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
  
        <input
          class="titulo"
          type="text"
          class="form-control"
          id=""
          aria-describedby=""
          [formControl]="titulo"
          [(ngModel)]="article.titulo"
        />
        <textarea
          cdkTextareaAutosize
          class="form-control"
          placeholder=""
          id="floatingTextarea2"
          [formControl]="contenido"
          [(ngModel)]="article.contenido"
        ></textarea>
        <div class="mb-3">
          <input
            type="date"
            class="form-control"
            [formControl]="fecha"
            [ngModel]="article.fecha"
            required
          />
        </div>
        <div>
          <input
          class="btn"
          [ngClass]="{ btnLigth: change === true, btnDark: change === false }"
          type="submit"
          value="Guardar Cambios"
        />
        <a
          class="btn"
          [ngClass]="{ btnLigth: change === true, btnDark: change === false }"
          routerLink="/control"
          >Volver</a
        >
        </div>
      </div>
    </form>
  </div>
  
  
