.contenedorPrincipal{
    min-height: 600px;
    padding: 10% 0;
  }
  
  .form-control{
    border: none;
    border-bottom: 1px solid #9E9E9E;
    border-radius: 0;
    margin: 10px 0;
  }
  
  .form-control:focus,
  .form-control:hover {
    border-color: none;
    box-shadow: none;
  }
  
  
  