<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true" data-bs-interval="5000">
    <div class="carousel-indicators">
        <div class="carousel-indicators">
            <button  type="button"  *ngFor="let article of articles1; let i = index" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-current="true"></button>
           
          </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item " *ngFor="let article of articles1; let i = index" [ngClass]="{active: i=== 1}">
        <img loading="lazy" *ngIf="article.urlImg" [src]="article.urlImg" [alt]="article.titulo" class="img-fluid" />
        <img loading="lazy" *ngIf="article.img" [src]="article.img" [alt]="article.titulo" class="img-fluid" />
        <img loading="lazy" class="w-100" *ngIf="!article.img && !article.urlImg"
          src="https://images.unsplash.com/photo-1512503573379-7b7ad8819f8d?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <div class="carousel-caption d-none d-md-block">

            <a routerLink="/articulo/{{ article.id }}">
                <h5>
                  {{article.titulo}}
                </h5>
              </a>
         
        </div>
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>